.studentWrapper{
    border: 1px solid black;
    display: inline-block;
    width: 150px;
    margin: 20px;
}
.studentInfo{
    display: inline-block;
    padding: 12px;
    width: 50%;
    text-align: center;
}